@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: white;
  height: 100px;
}
/* Enables smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}
/* Apply scroll-margin-top to all sections to prevent them from being hidden under a fixed navbar */
#bio,
#experience,
#results,
#expertise,
#education,
#meet-misty,
#testimonials,
#qqaa,
#interests,
#contact {
    scroll-margin-top: 103px; /* Adjust this value to set how high you want the section to appear */
}
